body {
	background-color:white;
	font-family:Verdana;
}

#header{
    z-index:1;
    border-radius:5px;
    width:100%;
    height:auto;
    margin-top:-10px;
    color:blue;
}

.signup{
	text-align:center;
	position:relative;
	width:75px;
	height:25px;
	border:1px solid #97BDA0;
	float:right;
	color:black;
	margin-bottom:5px;
	margin-left:auto;
	margin-right:15px;
	border-radius:4px;
	font-size:15px;
	padding-top:5px;
	background-color:#BBEDC7;
	box-shadow: 2px 2px 3px #888888;
}

img{
	height:30px;
	width:30px;
	margin-left:2px;
	margin-bottom:-2px;
	border:1px solid black;
	margin-top:-15px;
}

h1{
	color:black;
	font-size:30px;
	margin-bottom:-30px;
}

#welcome{
	text-align:right;
	float:right;
	font-size:15px;
	margin-right:8px;
	margin-bottom:-8px;
	color:black;
}

#logButton{
	background-color:#91D1ED;
	width:30%;
	height:25px;
	text-align:center;
	border-radius:7px;
	margin:auto;
	border:2px solid #83BDD6;
	box-shadow: 2px 2px 3px #888888;
}

#login{
	margin-top:100px;
	width:50%;
	height:155px;
	margin-left:auto;
	margin-right:auto;
	background-color:#F3F5F0;
	border-radius:5px;
	clear:both;
	border:3px solid #C2C4BE;

}

.formp{
	background-color:#F3F5F0;
	margin-left:10px;
	font-size:15px;
	margin-bottom:0px;
	margin-top:0px;
}

.form{
	background-color:#F3F5F0;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:8px;

}

a{
	text-decoration:none;
	text-size:15px;
	text-align:center;
	color:black;
}

#createAccount{
	clear:both;
	padding-top:10px;
	width:30%;
	height:35px;
	border:2px solid #83BDD6;
	margin:auto;
	border-radius:5px;
	background-color:#91D1ED;
	text-align:center;
	font-weight:bold;
	box-shadow: 2px 2px 3px #888888;
}

#boredInfo{
	float:right;
	margin-right:0px;
	margin-left:5px;
	border:2px solid black;
	width:40%;
	border-radius:5px;
	font-size:14px;
	padding:5px;
	
}

ul{
	font-size:13px;
	margin-left:-5px;
}

#signup{
	width:50%;
	margin-left:0px;
	margin-right:auto;
	background-color:#F3F5F0;
	border-radius:5px;
	float:left;
	border:3px solid #C2C4BE;
	height:auto;
	margin-bottom:10px;
}

#boredFeedBox{
	float:right;	
	text-align:center;
	border:1px solid black;
	width:55%;
	height:400px;
}

#boredFeed{
	margin-left:2px;
	padding:0px;
	font-size:15px;
	text-align:left;
	
}

.newsItem{
	margin-left:5px;
	margin-bottom:20px;
	padding:0px;
	font-size:15px;
	text-align:left;
}

h2{
	font-size:20px;
}

#boredButton{
	background-color:#F73434;
	border-radius:5px;
	padding:30px;
	margin:auto;
	font-weight:bold;
	width:50%;
	border:3px solid #BA2727;
	box-shadow: 3px 3px 4px #888888;
	font-align:center;
	margin-bottom:20px;
}

#addFriendButton{
	margin-top:20px;
	background-color:#F5F190;
	border-radius:5px;
	padding:30px;
	margin:auto;
	font-weight:bold;
	width:50%;
	border:3px solid #B8B56A;
	box-shadow: 3px 3px 4px #888888;
	font-align:center;
}

#notifications{
	text-align:center;
	margin:auto;
	margin-top:15px;
	height:48%;
	width:85%;
	border:1px solid #555555;
}

#feedButtons{
	float:left;
	width:40%;
	height: 400px;
}



