<table>
  <thead>
    <tr>
      <th>Userid</th>
      <th>Friendid</th>
      <th>Block</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.userid %></td>
        <td><%= friend.friendid %></td>
      </tr>
    <% end %>
  </tbody>
</table>
