<h1>Antiboredom Project Report</h1>

<h3>Description</h3>
<p>A person who is bored can spend several hours on social media trying to contact a friend with whom 
they can do an activity with, but never actually accomplish this. The purpose of the Bored Friends 
application is for a user to quickly contact several of his or her friends who are also looking for 
something to do.  To sign up the user needs to provide an email address, password, and username. The 
user merely has to click one button to show he or she is bored and suggest something that might be fun 
to do. This is posted on a newsfeed for his or her friends to see and to reply. The user can add new 
friends to his or her list of friends and can see any posts from them on the newsfeed. When the user 
clicks the “I’m Bored” button, a table to create an activity will appear. The user will then fill out what he 
or she would like to do, where the user or activity is located, a starting time for the activity, and an 
expiration time for the activity. The user can also add any further details about the activity. The user 
then has the option to create the activity which will be posted on the newsfeed, or cancel out of it.</p>

<h3>Database Schema</h3>
<p>Description</p>
<%= image_tag("dbmodel.png", :alt => "db") %>

<h3>Contributions</h3>

<h4>Melissa Smith</h4> 
<p>I worked on the backend. I attended the group meetings and
helped develop the design. I added the username field to sign up for the app. 
I wrote up and submitted the third milestone report. I also wrote and posted the final 
report for the project.</p> 


<h4>Zack Woodmansee</h4>
<p>Worked primarily with the backend, helped with some of the javascript requests
when needed. Set up the API, the JSON requests, and worked with the frontend to pass the
CSRF token so that the POST requests would be recognized. Setup and created the database and 
its tables, set up the github, hosted and posted the application to Heroku.com. Went to group
meetings, finalized the app.</p>

<h4>Melissa Edge</h4>
<p>I mostly worked on the front-end. I created the initial html and css files to get a 
starting framework up. I helped get Javascript/JQuery buttons, dialogs, and other elements 
integrated into the html. I wrote code to populate the friends list, activity feed, and 
welcome banner. I also added a get request to return user data based on id and/or the user 
currently logged in. I attended group meetings and helped make sure milestones were 
submitted.</p>

<h4>Mychal Calderon</h4>
<p>Focused mainly on the front-end. Created and organized an intial front-end TODO list
and decided to use JQuery to handle our dynamic content. Completed and submitted the first
milestone report. Decided to use JQueryUI to handle pop-ups on the page as they enabled easy
creation of modal dialog boxes. Began initial user interactions and creation of dynamic content
on the page. Helped to get other members of the group set up with ruby and running a local
version of the app on their computers to simplify testing. Helped to write initial ajax calls
that would send GET and POST requests to the server as the user interacted with the app. Helped to
solve host issues that were happening while trying to send requests to the server before the backend
and frontend were tied together. Worked on CSS for the sign in, sign up, and other pages. Modified the
friends controller on the backend to return the correct response for a GET.</p>

<h3>Future Work</h3>
<p>The application is in a basic stage. There are several other features we would like to add to the 
application. One of the features is that the user can create a private event and invite specific friends 
to that event. We would also like to add a messaging service to the application, so that the user and friends 
can connect even faster. Finally, another feature we would like to add is a connection to Facebook, so it will 
be even easier for the user to add friends and show events from the Bored Friends application.</p>
