<h1>Antiboredom Project Report</h1>

<h3>Description</h3>
<p>Description here...</p>

<h3>Database Schema</h3>
<p>Description</p>
<%= image_tag("dbmodel.png", :alt => "db") %>

<h3>Contributions</h3>
<p>Description</p>
<p>Melissa Smith: My contributions to this project included attending</p>
<p>the group meetings and helping develop the design.</p> 
<p>I added the username field to sign up. I wrote up and</p> 
<p>submitted the third milestone report. I was willing and</p> 
<p>available as much as possible.</p>

<h3>Future Work</h3>
<p>Description</p>
