<h1>Antiboredom Project Report</h1>

<h3>Description</h3>
<p>Description here...</p>

<h3>Database Schema</h3>
<p>Description</p>
<%= image_tag("dbmodel.png", :alt => "db") %>

<h3>Contributions</h3>
<p>Description</p>

<h4>Melissa Smith</h4> 
<p>I worked on the backend. I attended the</p>
<p>group meetings and helping develop the design.</p> 
<p>I added the username field to sign up. I wrote up and</p> 
<p>submitted the third milestone report. I was willing and</p> 
<p>available as much as possible.</p>

<h4>Zack Woodmansee</h4>
<p>Worked primarily with the backend, helped with some of the javascript requests
when needed. Set up the API, the JSON requests, and worked with the frontend to pass the
CSRF token so that the POST requests would be recognized. Setup and created the database and 
its tables, set up the github, hosted and posted the application to Heroku.com. Went to group
meetings, finalized the app.</p>

<h4>Melissa Edge</h4>
<p>I mostly worked on the front-end. I created the initial html and css files to get a 
starting framework up. I helped get Javascript/JQuery buttons, dialogs, and other elements 
integrated into the html. I wrote code to populate the friends list, activity feed, and 
welcome banner. I also added a get request to return user data based on id and/or the user 
currently logged in. I attended group meetings and helped make sure milestones were 
submitted.</p>

<h3>Future Work</h3>
<p>Description</p>
